:root {
	/* Paleta 1 */
	--color--pale-spring-bud:		#D6D5B3;
	--color--rose:					#F92A82;
	--color--amaranth-purple:		#7b0337;
	--color--candy: 				#ED7B84;
	--color--champange-pink: 		#F5DBCB;
	--color--dark-sean-green: 		#7EB77F;
	--color--celeste: 				#BAF2E9;
	--color--sea-green-crayola:		#35FDDC;
	--color--china-pink: 			#D4709899;
	--color--russia-green: 			#738B5Aff;
	--color--olivine: 				#99B679bb;
	/* Paleta 2 */
	--color--bud-green:				#6da34dff;
	--color--english-violet:		#56445dff;
	--color--steel-teal:			#548687ff;
	--color--steel-teal-dark:		#042727;
	--color--dark-sea-green:		#8fbc94ff;
	--color--yellow-green-crayola:	#c5e99bff;
	--color--tea-green: 			#D8F0BCff;
	--color--green-yellow-crayola:	#E1E289ff;
	--color--primary:               var(--color--candy);
	--color--secondary:             var(--color--olivine);
	--color--text:					var(--color--steel-teal-dark);
	/* Font families */
	--font-family--body:			'Open Sans', Helvetica, sans-serif;
	--font-family--headings: 		Merriweather, Georgia, 'Times New Roman', Times, serif;
	/* Font sizes */
	--font-size--h1:                2rem;
	--font-size--h2:                1.5rem;
	--font-size--h3:                1.25rem;
	--font-size--h4:                1.125rem;
	--font-size--base:              1rem;
	--font-size--form-control:      1.25rem;
	/* Configuraciones */
	--color--group:					var(--color--primary);
	--color--group-alt:				var(--color--secondary);
	--container-max-width:			1100px;
}
/* @media screen {
	html {
		font-size: 24px;
	}
} */
*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	font-family: var(--font-family--body);
	font-size: var(--font-size--base);
	line-height: 1.2;
	color: var(--color--text);
	-webkit-print-color-adjust: exact !important;
	print-color-adjust: exact !important;
}
.container,
.page-footer {
	position: relative;
	width: 100%;
	max-width: var(--container-max-width);
	margin-left: auto;
	margin-right: auto;
}
@media print {
	.container::after {
		display: block;
		content: '';
		margin-bottom: 200mm;
	}
}
/* Basic elements */
h1 {
	font-size: var(--font-size--h1);
	font-weight: 300;
}
h2 {
	font-size: var(--font-size--h2);
	font-weight: 300;
}
h3 {
	font-size: var(--font-size--h3);
	font-weight: 600;
}
h4 {
	font-size: var(--font-size--h4);
}
h1,
h2,
h3,
h4 {
	font-family: var(--font-family--headings);
}
/* Tables */
table {
	width: 100%;
	text-align: left;
	border-radius: .25rem;
}
table td,
table th {
	font-size: .6125rem;
	padding-top: .175rem;
	padding-bottom: .175rem;
}
table tbody tr th:first-child {
	width: 30%;
}
table tbody tr:not(first-child) {
	border-top: 1px solid var(--color--primary);
}
table tbody tr:last-child {
	border-bottom: 1px solid var(--color--primary);
}
table td {
	width: 10%;
	font-family: var(--font-family--headings);
	font-size: .8125rem;
	font-weight: bold;
	line-height: 1;
}
table td input {
	max-width: 4ch;
	margin-top: -.175rem;
	margin-bottom: -.175rem;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	text-align: center;
	background: transparent;
	border: none;
}
table th {
	text-transform: uppercase;
}
table tr td:not(:empty):not(:last-child) {
	box-shadow: inset 1rem 0 0 #fff, inset -1rem 0 0 #fff;
	background-color: var(--color--champange-pink);
}
table tr td:last-child {
	font-weight: 700;
}
/* Forms */
/* .form-control {
	width: 3ch;
	border: none;
} */
/* Page header */
.page-header {
	display: grid;
	grid-template-columns: max-content auto;
	gap: 1.5rem;
	align-items: center;
}
.page-header__title {
	margin-bottom: .75rem;
}
.page-header__patient {
	margin-left: auto;
}
.form {
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 1rem;
	margin-bottom: 1rem;
	border: 1px solid var(--color--primary);
	border-radius: .25rem;
}
.form__fieldset {
	padding: .75rem;
}
.form__title {
	margin-bottom: .35rem;
}
.evaluation-form__group {
	margin-bottom: 1.5rem;
}
.evaluation-form__submit {
	text-align: center;
}
/* Form group */
.form-group label {
	display: block;
	margin-bottom: .5rem;
	font-weight: 600;
	line-height: 1;
	color: rgba(0, 0, 0, .75);
}
.form-control {
	width: 100%;
	padding: .5rem .75rem;
	font-size: var(--font-size--form-control);
	font-weight: 600;
	background-color: #fff;
	border: 1px solid var(--color--primary);
	border-radius: .25rem;
}
select.form-control {
	appearance: none;
	padding-right: 2rem;
	background-image:
		linear-gradient(45deg, transparent 50%, var(--color--primary) 50%),
		linear-gradient(135deg, var(--color--primary) 50%, transparent 50%),
		linear-gradient(to right, var(--color--primary), var(--color--primary));
	background-position:
		calc(100% - 20px) calc(1em + 2px),
		calc(100% - 15px) calc(1em + 2px),
		calc(100% - 2.5em) 0.5em;
	background-size:
		5px 5px,
		5px 5px,
		1px 1.5em;
	background-repeat: no-repeat;
}
.form-control:focus,
button:focus {
	outline: 0;
	box-shadow: 0 0 .75rem -.25rem var(--color--primary);
}
button.form-submit {
	display: inline-block;
	min-width: 275px;
	padding: .75rem 2rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background-color: var(--color--candy);
	border: none;
	border-radius: 9999px;
	transition: background-color .3s ease;
}
button.form-submit:hover {
	background-color: var(--color--amaranth-purple);
}
button.form-submit:focus {
	background-color: var(--color--amaranth-purple);
	box-shadow: 0 0 .75rem -.25rem var(--color--primary);
}
/* Resultados */
.result {
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding: .75rem 0;
	border-top: 1px solid var(--color--primary);
}
.result__label {
	grid-column: 1/2;
	font-weight: 600;
	color: rgba(0, 0, 0, .75);
}
.result__value {
	grid-column: 2/3;
	font-size: var(--font-size--h4);
}
.groups {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: masonry;
	gap: .5rem;
}
.group--plans {
	grid-template-columns: unset;
	grid-template-rows: unset;
}
.group {
	background-color: var(--color--group-alt);
	border-radius: .25rem;
	padding: .65rem;
}
.group:nth-child(2n+1),
.group:nth-child(4) {
	background-color: var(--color--group);
}
.group:nth-child(5),
.group:nth-child(7) {
	background-color: var(--color--group-alt);
}
.group__header {
	display: grid;
	grid-template-columns: 1fr min-content;
	gap: 1.25rem;
	align-items: center;
	margin-bottom: .5rem;
}
.group__title {
	grid-column: 1/2;
	font-weight: 700;
}
.group__portions {
	grid-column: 2/3;
	margin-left: auto;
	display: grid;
	grid-template-columns: min-content auto;
	gap: .5rem;
}
.group__portions label {
	display: grid;
	text-align: right;
	align-content: center;
}
.group__portions input {
	width: 2rem;
	height: 2rem;
	font-family: var(--font-family--headings);
	font-size: 1.25rem;
	font-weight: 700;
	text-align: center;
	border: none;
	border-radius: .2rem;
}
/* Subgroups */
.subgroup + .subgroup {
	margin-top: .65rem;
}
.subgroup__header {
	margin-bottom: .25rem;
}
.subgroup__title {
	margin-bottom: .125rem;
	font-family: var(--font-family--body);
	font-weight: 700;
}
.subgroup__portion-details__title {
	display: none;
	font-family: var(--font-family--body);
	font-size: .75rem;
}
/* Listado de aporte por porción */
.portion-items {
	grid-column: 2/3;
	display: grid;
	grid-template-columns: repeat(4, max-content);
	gap: .5rem;
}
.portion-item {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .25rem;
}
.portion-item__value {
	font-family: var(--font-family--headings);
	font-weight: 700;
}
.portion-item__label {
	font-size: .625rem;
}
/* Listado de alimentos */
.group__foods {
	display: grid;
	/* grid-template-columns: repeat(3, auto); */
	gap: .3rem;
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}
/* Cada alimento */
.food {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1rem;
	padding: .19rem .35rem;
	background-color: #ffffff99;
	border-radius: .25rem;
}
.food__names {
	grid-column: 1/2;
	margin-top: auto;
	margin-bottom: auto;
	gap: .25rem;
}
.food__name {
	font-size: .6875rem;
	font-weight: 600;
}
.food__portions {
	grid-column: 2/3;
	display: flex;
	justify-content: flex-end;
	gap: .4rem;
	line-height: .9;
}
.food-portion {
	display: flex;
	align-items: center;
	gap: .2rem;
}
.food-portion + .food-portion::before {
	display: inline-block;
	content: 'ó ';
	margin-right: .2rem;
	font-size: .675rem;
}
.food-portion__value {
	font-family: var(--font-family--headings);
	font-size: .6875rem;
	font-weight: 700;
	line-height: .9;
}
.food-portion__unit {
	font-size: .6rem;
	line-height: .9;
}
/* Schedule */
.schedule__header {
	display: grid;
	grid-template-columns: 19% .8fr 1fr 1.8fr .5fr;
	gap: .75rem;
	margin-bottom: .6rem;
	padding-left: 16%;
	font-size: .6125rem;
	text-transform: uppercase;
}
.schedule-section {
	display: grid;
	grid-template-columns: calc(16% - 1rem) auto;
	gap: 1rem;
}
.schedule-section + .schedule-section {
	margin-top: .35rem;
	padding-top: .35rem;
	border-top: 1px solid var(--color--primary);
}
.schedule-section__header {
	display: flex;
	flex-direction: column;
}
.schedule-section__data {
	display: grid;
	grid-template-columns: max-content max-content;
	gap: .5rem;
	font-size: .6125rem;
}
.schedule-section__hour {
	color: #999;
}
.schedule-section__cho {
	font-weight: 500;
}
.preparation {
	display: grid;
	grid-template-columns: 19% auto;
	gap: .75rem;
}
.preparation + .preparation {
	margin-top: .25rem;
	padding-top: .25rem;
	border-top: 1px solid var(--color--primary);
}
.preparation-food {
	display: grid;
	grid-template-columns: .8fr 1fr 1.8fr .5fr;
	gap: .75rem;
	font-size: .6125rem;
}
.preparation-food + .preparation-food {
	margin-top: .15rem;
	padding-top: .15rem;
	border-top: 1px solid var(--color--primary);
}
/* APP: Evaluación */
.evaluation-form {

}
/* Footer */
.page-footer {
	position: absolute;
	bottom: 0;
	left: 0;
}
/* Text align */
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
/* Margins */
.mb-1 {
	margin-bottom: .125rem;
}
.mb-2 {
	margin-bottom: .25rem;
}
.mb-3 {
	margin-bottom: .5rem;
}
.mb-4 {
	margin-bottom: .75rem;
}
.mb-5 {
	margin-bottom: 1rem;
}
.mb-6 {
	margin-bottom: 1.5rem;
}

@media print {

html {
	font-size: 12px;
}

.evaluation-form__group {
	margin-bottom: .5rem;
}
form h3.text-lg {
	margin-bottom: .5rem;
	font-size: 1rem;
}
.form-group label {
	margin-bottom: .25rem;
}
.form-control {
	padding: 0;
	font-size: 1rem;
	border: none;
}
select.form-control {
	background-image: none;
}
.evaluation-form__submit {
	display: none;	
}

}