<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Consulta nutricional | Valeria Navarro</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" href="../style.css">
	<link rel="shortcut icon" href="../favicon.png" type="image/x-icon">
	<style>
		:root {
			/* Font sizes */
			--font-size--h1:                1.0625rem;
			--font-size--h2:                .8125rem;
			--font-size--h3:                .8125rem;
			--font-size--h4:                .75rem;
			--font-size--base:              .75rem;
		}
	</style>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="../assets/js/fraction.min.js"></script>
	<script src="../data/units.js"></script>
	<script src="../data/food-groups-portions.js"></script>
</head>
<body>
	<div id="app">
		<div class="container">
			<header class="page-header mb-5">
				<h1 class="page-header__title mb-1">Tabla de alimentos y porciones</h1>
			</header>
			<div class="groups mb-">
				<section class="group" v-for="group in groups">
					<header class="group__header">
						<h2 class="group__title">{{ group.name }}</h2>
						<form class="group__portions">
							<label>Porciones por día</label>
							<input type="text" v-model="group.portion">
						</form>
					</header>
					<div class="subgroup" v-for="subgroup in group.subgroups">
						<header class="subgroup__header">
							<h3 class="subgroup__title">{{ subgroup.name }}</h3>
							<div class="subgroup__portion-details">
								<h4 class="subgroup__portion-details__title">Una porción aporta:</h4>
								<ul class="portion-items">
									<li class="portion-item">
										<strong class="portion-item__value">{{ subgroup.calories }}</strong>
										<span class="portion-item__label">Calorías</span>
									</li>
									<li class="portion-item">
										<strong class="portion-item__value">{{ subgroup.cho }}g</strong>
										<span class="portion-item__label">Carbohidratos</span>
									</li>
									<li class="portion-item">
										<strong class="portion-item__value">{{ subgroup.protein }}g</strong>
										<span class="portion-item__label">Proteínas</span>
									</li>
									<li class="portion-item">
										<strong class="portion-item__value">{{ subgroup.fat }}g</strong>
										<span class="portion-item__label">Lípidos</span>
									</li>
								</ul>
							</div>
						</header>
						<ul class="group__foods">
							<li class="food" v-for="food_type in subgroup.foodTypes">
								<div class="food__names">
									<div class="food__name">{{ food_type.foods.join(', ') }}</div>
								</div>
								<div class="food__portions">
									<div class="food-portion" v-for="food_portion in food_type.values">
										<strong class="food-portion__value">{{ getFraction(food_portion.value) }}</strong>
										<span class="food-portion__unit">{{ getUnit(food_portion.unit, food_portion.value) }}</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</section>
			</div>
			<footer class="page-footer">
				<p>
					Valeria Navarro Fernández<br>
					Nutricionista y Magister en Nutrición y Alimentos
				</p>
			</footer>
		</div>
	</div>
	<script>
		const { createApp } = Vue
		createApp({
			data() {
				return {
					units: units,
					groups: foodGroupsAndPortions
				}
			},
			methods: {
				getFraction(value) {
					if ( value % 1 !== 0 ) {
						const x = new Fraction(value);
						value = x.toFraction(true);
					}
					return value;
				},
				getUnit(id, value) {
					const unit = this.units.find(item => item.id === id);
					return value > 1 ? unit.pluralAbbr : unit.abbr;
				}
			},
		}).mount('#app')
	</script>
</body>
</html>