<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pauta de Alimentación | Valeria Navarro</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" href="../style.css">
	<style>
		:root {
			/* Font sizes */
			--font-size--h1:                1rem;
			--font-size--h2:                .8125rem;
			--font-size--h3:                .6875rem;
			--font-size--h4:                .6125rem;
			-font-size--base:               .6875rem;
		}
	</style>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="../assets/js/fraction.min.js"></script>
	<script src="../data/units.js"></script>
	<script src="../data/food-groups-portions.js"></script>
	<script src="data.js"></script>
	<link rel="shortcut icon" href="../favicon.png" type="image/x-icon">
</head>
<body>
	<div id="app" class="app--pauta">
		<!-- <div id="edit" class="container">
			<form>
				<div class="form-group">
					<label>Nombre</label>
					<input type="text" v-model="patient">
				</div>
				<fieldset>
					<legend>Distribución de grupos</legend>
					<table class="mb-6">
						<thead>
							<tr>
								<th>Grupos de Alimentos</th>
								<th class="text-center">Desayuno</th>
								<th class="text-center">Colación</th>
								<th class="text-center">Almuerzo</th>
								<th class="text-center">Once</th>
								<th class="text-center">Cena</th>
								<th class="text-center">Colación</th>
								<th class="text-center">Total/día</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="block in distribution">
								<th>{{ block.name }}</th>
								<td class="text-center"><input v-model="block.schedule.desayuno"></td>
								<td class="text-center"><input v-model="block.schedule.colacion"></td>
								<td class="text-center"><input v-model="block.schedule.almuerzo"></td>
								<td class="text-center"><input v-model="block.schedule.once"></td>
								<td class="text-center"><input v-model="block.schedule.cena"></td>
								<td class="text-center"><input v-model="block.schedule.colacion2"></td>
								<td class="text-center">{{ sumObjectProperties(block.schedule) }}</td>
							</tr>
						</tbody>
					</table>
				</fieldset>
			</form>
		</div> -->
		<div class="container mb-3">
			<header class="page-header mb-5">
				<h1 class="page-header__title mb-1">Informe de planificación alimentaria y nutricional</h1>
				<p class="page-header__patient">Paciente: Francisca Silva</p>
				<!-- {{ this.patient }} -->
			</header>
			<!-- <h2 class="mb-3">Referencia de distribución de porciones de alimentos en un día</h2> -->
			<table class="mb-6">
				<thead>
					<tr>
						<th>Grupos de Alimentos</th>
						<th class="text-center">Desayuno</th>
						<th class="text-center">Colación</th>
						<th class="text-center">Almuerzo</th>
						<th class="text-center">Once</th>
						<th class="text-center">Cena</th>
						<th class="text-center">Colación</th>
						<th class="text-center">Total/día</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="block in distribution">
						<th>{{ block.name }}</th>
						<td class="text-center">{{ getFraction(block.schedule.desayuno) }}</td>
						<td class="text-center">{{ getFraction(block.schedule.colacion) }}</td>
						<td class="text-center">{{ getFraction(block.schedule.almuerzo) }}</td>
						<td class="text-center">{{ getFraction(block.schedule.once) }}</td>
						<td class="text-center">{{ getFraction(block.schedule.cena) }}</td>
						<td class="text-center">{{ getFraction(block.schedule.colacion2) }}</td>
						<td class="text-center">{{ sumObjectProperties(block.schedule) }}</td>
					</tr>
				</tbody>
			</table>
			<!-- <h2 class="mb-4">Plan de alimentación de 1 día</h2> -->
			<div class="schedule">
				<ul class="schedule__header">
					<li>Preparaciones</li>
					<li>Cantidad</li>
					<li>Alimentos</li>
					<li>Porciones por grupo</li>
					<li class="text-center">CHO</li>
				</ul>
				<section class="schedule-section" v-for="section in schedule">
					<header class="schedule-section__header">
						<h3 class="schedule-section__title mb-1">{{ section.name }}</h3>
						<div class="schedule-section__data">
							<span class="schedule-section__hour">
								{{ section.hour }}
								<span class="schedule-section__unit">hrs</span>
							</span>
							<span class="schedule-section__cho">
								<span class="schedule-section__label">CHO</span>:
								{{ section.cho }}<span class="schedule-section__unit">g</span>
							</span>
						</div>
					</header>
					<div class="preparations">
						<div class="preparation" v-for="preparation in section.preparations">
							<h4 class="preparation__title">{{ preparation.name }}</h4>
							<ul class="preparation__foods">
								<li class="preparation-food" v-for="food in preparation.foods">
									<span class="preparation-food__quantity">{{ getUnit(food.unit, food.quantity) }}</span>
									<span class="preparation-food__name">{{ food.name }}<template v-if="food.nameDetail">{{ ' ' + food.nameDetail }}</template></span>
									<span class="preparation-food__portion">{{ getGroup(food.name, food.portion) }}</span>
									<span class="preparation-food__cho text-center">{{ getCHO(food.name, food.portion, food.cho) }}</span>
								</li>
								<li class="preparation-food" v-for="food in preparation.additionalFoods">
									<span class="preparation-food__quantity">{{ getUnit(food.unit, food.quantity) }}</span>
									<span class="preparation-food__name">{{ food.name }}</span>
									<span class="preparation-food__portion">{{ food.portion }}</span>
									<span class="preparation-food__cho text-center">{{ food.cho }}</span>
								</li>
							</ul>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<script>
		const { createApp } = Vue
		createApp({
			data() {
				return {
					units: units,
					foodGroups: foodGroupsAndPortions,
					patient: '',
					distribution: distribution,
					schedule: schedule
				}
			},
			methods: {
				sumObjectProperties(object) {
					let sum = 0;
					for (const prop in object ) {
						console.log()
						sum += parseInt(object[prop], 10);
					}
					return this.getFraction(sum);
				},
				getFraction(value) {
					if ( ! value ) {
						return null;
					}
					if ( value % 1 !== 0 ) {
						const x = new Fraction(value);
						value = x.toFraction(true);
					}
					return value;
				},
				getGroup(food, portion) {
					let output = null;
					this.foodGroups.forEach(group => {
						group.subgroups.forEach(subgroup => {
							subgroup.foodTypes.forEach(ft => {
								ft.foods.forEach(f => {
									if ( f.toLowerCase() === food.toLowerCase() ) {
										output = subgroup.name;
									}
								});
							});
						});
					});
					return this.getFraction(portion) + ' porción de ' + output;
				},
				getCHO(food, portion, foodCho) {
					if ( foodCho !== undefined ) {
						return foodCho + 'g';
					}
					let cho = 0;
					this.foodGroups.forEach(group => {
						group.subgroups.forEach(subgroup => {
							subgroup.foodTypes.forEach(ft => {
								ft.foods.forEach(f => {
									if ( f.toLowerCase() === food.toLowerCase() ) {
										cho = subgroup.cho;
									}
								});
							});
						});
					});
					return cho === 0 ? '' : ( cho * portion ) + 'g';
				},
				getUnit(unitId, value) {
					if ( unitId === null ) {
						return value;
					}
					const unit = this.units.find(item => item.id === unitId);
					return this.getFraction(value) + ' ' + ( value > 1 ?  unit.pluralAbbr : unit.abbr );
				},
				getPortion(food, unitId) {
					let cho = 0;
					this.foodGroups.forEach(group => {
						group.subgroups.forEach(subgroup => {
							subgroup.foodTypes.forEach(ft => {
								ft.foods.forEach(f => {
									if ( f.toLowerCase() === food.toLowerCase() ) {
										cho = subgroup.cho;
									}
								});
							});
						});
					});
					return cho;
				},
			},
		}).mount('#app')
	</script>
</body>
</html>