<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Evaluación nutricional | Valeria Navarro</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="../style.css">
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="../assets/js/fraction.min.js"></script>
	<link rel="shortcut icon" href="../favicon.png" type="image/x-icon">
	<!-- <script src="data.js"></script> -->
</head>
<body class="min-h-screen">
	<div id="app" class="app--evaluacion container grid max-w-4xl min-h-screen pt-8">
		<header class="mb-12 grid grid-flow-col items-center">
			<h1 class="text-3xl">Evaluación nutricional</h1>
			<span class="text-right">{{ getDate() }}</span>
		</header>
		<div class="evaluacion__body">
			<form class="evaluation-form mb-12" @submit.prevent="submit(event)">
				<div class="evaluation-form__group">
					<h3 class="text-lg mb-4">Datos de la persona</h3>
					<div class="grid grid-cols-4 gap-6">
						<div class="col-span-2 form-group mb-4">
							<label>Nombre</label>
							<input type="text" class="form-control" v-model="evaluation.name" required>
						</div>
						<div class="col-span-1 form-group mb-4">
							<label>Sexo</label>
							<select class="form-control" v-model="evaluation.sex" required>
								<option value="" selected></option>
								<option value="Femenino">Femenino</option>
								<option value="Masculino">Masculino</option>
							</select>
						</div>
						<div class="col-span-1 form-group">
							<label>Edad</label>
							<input type="text" class="form-control" v-model="evaluation.age" required>
						</div>
					</div>
				</div>
				<div class="evaluation-form__group">
					<h3 class="text-lg mb-4">Datos antropométricos</h3>
					<div class="grid grid-cols-3 gap-6">
						<div class="form-group mb-4">
							<label>Peso (kg)</label>
							<input type="text" class="form-control" v-model="evaluation.weight" required>
						</div>
						<div class="form-group mb-4">
							<label>Estatura (cm)</label>
							<input type="text" class="form-control" v-model="evaluation.height" required>
						</div>
						<div class="form-group">
							<label>Circunferencia de cintura (cm)</label>
							<input type="text" class="form-control" v-model="evaluation.waist" required>
						</div>
					</div>
				</div>
				<div class="evaluation-form__group">
					<h3 class="text-lg mb-4">Datos de composición corporal</h3>
					<div class="grid grid-cols-3 gap-6">
						<div class="form-group mb-4">
							<label>Grasa corporal (%)</label>
							<input type="text" class="form-control" v-model="evaluation.bodyfat" required>
						</div>
						<div class="form-group mb-4">
							<label>Masa muscular (%)</label>
							<input type="text" class="form-control" v-model="evaluation.muscle" required>
						</div>
						<div class="form-group">
							<label>Grasa visceral</label>
							<input type="text" class="form-control" v-model="evaluation.visceralfat" required>
						</div>
					</div>
				</div>
				<div class="evaluation-form__submit flex justify-end mt-10 mb-10">
					<button type="submit" class="form-submit order-1 ml-6">Obtener resultados</button>
					<button type="button" @click="reset()">Borrar datos</button>
				</div>
			</form>
			<section class="results mb-24" v-if="state.complete">
				<h2 class="text-2xl mb-8">Resultados</h2>
				<!-- IMC -->
				<div class="result">
					<p class="result__label">Índice de masa corporal (IMC)</p>
					<div class="result__value">
						<strong>{{ getIMC() }}</strong>
					</div>
				</div>
				<!-- Estado nutricional -->
				<div class="result result--reference">
					<p class="result__label">Estado nutricional</p>
					<div class="result__value">
						<strong>{{ getIMCEvaluation() }}</strong>
						<p class="result__reference">
							Referencia de un estado nutricional normal<br>
							IMC: {{ getIMCReference() }}
						</p>
					</div>
				</div>
				<!-- Circunferencia de cintura -->
				<div class="result result--reference">
					<p class="result__label">Obesidad abdominal</p>
					<div class="result__value">
						<strong>{{ getWaistEvaluation() }}</strong>
						<p class="result__reference">
							Referencia sin obesidad abdominal<br>
							Circunferencia de cintura: {{ getWaistReference() }}
						</p>
					</div>
				</div>
				<!-- Grasa corporal -->
				<div class="result result--reference">
					<p class="result__label">Grasa corporal</p>
					<div class="result__value">
						<strong>{{ getBodyFatEvaluation() }}</strong>
						<p class="result__reference">
							Referencia de grasa corporal normal<br>
							% de grasa corporal: {{ getBodyFatReference() }}
						</p>
					</div>
				</div>
				<!-- Grasa Visceral -->
				<div class="result result--reference">
					<p class="result__label">Grasa visceral</p>
					<div class="result__value">
						<strong>{{ getVisceralFatEvaluation() }}</strong>
						<p class="result__reference">
							Referencia de grasa visceral normal<br>
							% de grasa visceral: {{ getVisceralFatReference() }}
						</p>
					</div>
				</div>
				<!-- Porcentaje de músculo -->
				<div class="result result--reference">
					<p class="result__label">Masa muscular</p>
					<div class="result__value">
						<strong>{{ getMuscleEvaluation() }}</strong>
						<p class="result__reference">
							Referencia de masa muscular normal<br>
							Valor: {{ getMuscleReference() }}
						</p>
					</div>
				</div>
				<h3 class="col-span-1 text-lg mt-6 mb-4">Diagnostico nutricional</h3>
				<p class="text-lg">
					Persona de {{ this.evaluation.age }} años de sexo <span class="lowercase">{{ this.evaluation.sex }}</span>, presenta un 
					estado nutricional de <strong class="lowercase">{{ this.getIMCEvaluation() }}</strong> según IMC,
					<strong class="lowercase">{{ this.getWaistEvaluation() }}</strong> según su circunferencia de cintura. 
					Su composición corporal indica que la grasa corporal es <strong class="lowercase">{{ this.getBodyFatEvaluation() }}</strong>, 
					la grasa visceral es <strong class="lowercase">{{ this.getVisceralFatEvaluation() }}</strong> y
					la masa muscular es <strong class="lowercase">{{ this.getMuscleEvaluation() }}</strong> para su edad y sexo.
				</p>
			</section>
		</div>
		<footer class="mt-auto pb-6">
			<p>
				Valeria Navarro Fernández<br>
				Nutricionista y Magister en Nutrición y Alimentos<br>
				16.968.018-3
			</p>
		</footer>
	</div>
	<script>
		const { createApp } = Vue
		createApp({
			data() {
				return {
					evaluation: {
						date: "",
						name: "",
						sex: "",
						age: "",
						height: "",
						weight: "",
						waist: "",
						bodyfat: "",
						muscle: "",
						visceralfat: ""
					},
					reference: {
						imc: "",
						waist: "",
						bodyfat: "",
						muscle: "",
						visceralfat: ""
					},
					state: {
						complete: false
					}
				}
			},
			beforeMount() {
				let evaluation = localStorage.getItem("current-evaluation");
				if ( evaluation !== null ) {
					this.evaluation = JSON.parse(evaluation);
				}
			},
			methods: {
				submit() {
					console.log("se envió");
					this.state.complete = true;
					this.evaluation.date = this.getCurrentDate();
					localStorage.setItem("current-evaluation", JSON.stringify(this.evaluation) );
				},
				reset() {
					localStorage.removeItem("current-evaluation");
					window.location.reload();
				},
				getDate() {
					return this.evaluation.date !== "" ? 
						this.evaluation.date : 
						this.getCurrentDate()
				},
				getCurrentDate() {
					return new Date(Date.now())
						.toLocaleDateString("es-CL",
							{
								year: "numeric",
								month: "long",
								day: "numeric",
								timeZone: "utc"
							}
					);
				},
				getIMC() {
					return parseFloat( this.evaluation.weight / ( this.evaluation.height / 100 ) ** 2 ).toFixed(2);
				},
				getIMCEvaluation() {
					const imc = this.getIMC();
					let text = "";
					if ( this.evaluation.age >= 65 ) {
						if ( imc < 23 ) {
							text = "Bajo peso";
						} else if ( imc >= 23 && imc < 27.9 ) {
							text = "Peso normal";
						} else if ( imc >= 27.9 && imc < 29.9 ) {
							text = "Sobrepeso";
						} else if ( imc >= 29.9 ) {
							text = "Obesidad";	
						}
					} else {
						if ( imc < 18.5 ) {
							text = "Bajo peso";
						} else if ( imc >= 18.5 && imc < 24.9 ) {
							text = "Peso normal";
						} else if ( imc >= 24.9 && imc < 29.9 ) {
							text = "Sobrepeso";
						} else if ( imc >= 29.9 ) {
							text = "Obesidad";
						}
					}
					return text;
				},
				getIMCReference() {
					if ( this.evaluation.age >= 65 ) {
						return "23 - 27.9";
					} else {
						return "18.5 - 24.9";
					}
				},
				getWaistEvaluation() {
					let evaluation = "Sin obesidad abdominal";
					if ( 
						( this.evaluation.sex === "Masculino" && this.evaluation.waist >= 90 ) || 
						( this.evaluation.sex === "Femenino" && this.evaluation.waist >= 80 ) 
					) {
							evaluation = "Con obesidad abdominal";
					}
					return evaluation;
				},
				getWaistReference() {
					if ( this.evaluation.sex === "Masculino" ) {
						return "<90";
					} else {
						return "<80";
					}
				},
				getBodyFatEvaluation() {
					var clasificacion = "";
					if (this.evaluation.age < 18) {
						clasificacion = "No se puede determinar la clasificación para menores de edad";
					} else if (this.evaluation.sex === "Femenino") {
						if (this.evaluation.age >= 20 && this.evaluation.age <= 39) {
							if (this.evaluation.bodyfat < 21) {
								clasificacion = "Baja";
							} else if (this.evaluation.bodyfat >= 21 && this.evaluation.bodyfat < 33) {
								clasificacion = "Normal";
							} else if (this.evaluation.bodyfat >= 33 && this.evaluation.bodyfat <= 38.9) {
								clasificacion = "Elevada";
							} else {
								clasificacion = "Muy elevada";
							}
						} else if (this.evaluation.age >= 40 && this.evaluation.age <= 59) {
							if (this.evaluation.bodyfat < 23) {
								clasificacion = "Baja";
							} else if (this.evaluation.bodyfat >= 23 && this.evaluation.bodyfat < 34) {
								clasificacion = "Normal";
							} else if (this.evaluation.bodyfat >= 34 && this.evaluation.bodyfat <= 39.9) {
								clasificacion = "Elevada";
							} else {
								clasificacion = "Muy elevada";
							}
						} else if (this.evaluation.age >= 60 && this.evaluation.age <= 79) {
							if (this.evaluation.bodyfat < 24) {
								clasificacion = "Baja";
							} else if (this.evaluation.bodyfat >= 24 && this.evaluation.bodyfat < 36) {
								clasificacion = "Normal";
							} else if (this.evaluation.bodyfat >= 36 && this.evaluation.bodyfat <= 41.9) {
								clasificacion = "Elevada";
							} else {
								clasificacion = "Muy elevada";
							}
						} else {
							clasificacion = "Edad fuera de rango";
						}
					} else if (this.evaluation.sex === "Masculino") {
						if (this.evaluation.age >= 20 && this.evaluation.age <= 39) {
							if (this.evaluation.bodyfat < 8) {
								clasificacion = "Baja";
							} else if (this.evaluation.bodyfat >= 8 && this.evaluation.bodyfat < 20) {
								clasificacion = "Normal";
							} else if (this.evaluation.bodyfat >= 20 && this.evaluation.bodyfat <= 24.9) {
								clasificacion = "Elevada";
							} else {
								clasificacion = "Muy elevada";
							}
						} else if (this.evaluation.age >= 40 && this.evaluation.age <= 59) {
							if (this.evaluation.bodyfat < 11) {
								clasificacion = "Baja";
							} else if (this.evaluation.bodyfat >= 11 && this.evaluation.bodyfat < 22) {
								clasificacion = "Normal";
							} else if (this.evaluation.bodyfat >= 22 && this.evaluation.bodyfat <= 27.9) {
								clasificacion = "Elevada";
							} else {
								clasificacion = "Muy elevada";
							}
						} else if (this.evaluation.age >= 60 && this.evaluation.age <= 79) {
							if (this.evaluation.bodyfat < 13) {
								clasificacion = "Baja";
							} else if (this.evaluation.bodyfat >= 13 && this.evaluation.bodyfat < 25) {
								clasificacion = "Normal";
							} else if (this.evaluation.bodyfat >= 25 && this.evaluation.bodyfat <= 29.9) {
								clasificacion = "Elevada";
							} else {
								clasificacion = "Muy elevada";
							}
						} else {
							clasificacion = "Edad fuera de rango";
						}
					}
					return clasificacion;
				},
				getBodyFatReference() {
					let reference = "";
					if (this.evaluation.sex === "Femenino") {
						if (this.evaluation.age >= 20 && this.evaluation.age <= 39) {
							reference = ">=21 y <33";
						} else if (this.evaluation.age >= 40 && this.evaluation.age <= 59) {
							reference = ">=23 y < 34";
						} else if (this.evaluation.age >= 60 && this.evaluation.age <= 79) {
							reference = ">=24 y < 36";
						}
					} else {
						if (this.evaluation.age >= 20 && this.evaluation.age <= 39) {
							reference = ">=8 y <20";
						} else if (this.evaluation.age >= 40 && this.evaluation.age <= 59) {
							reference = ">=11 y <22";
						} else if (this.evaluation.age >= 60 && this.evaluation.age <= 79) {
							reference = ">=13 y <25";
						}
					}
					return reference;
				},
				getVisceralFatEvaluation() {
					var clasificacion = "";
					if (this.evaluation.visceralfat < 10) {
						clasificacion = "Normal";
					} else if (this.evaluation.visceralfat >= 10 && this.evaluation.visceralfat <= 14) {
						clasificacion = "Alta";
					} else {
						clasificacion = "Muy alta";
					}
					return clasificacion;
				},
				getVisceralFatReference() {
					return "<10";
				},
				getMuscleEvaluation() {
					var clasificacion = "";
					if (this.evaluation.age < 18) {
						clasificacion = "No se puede determinar la clasificación para menores de edad";
					} else if (this.evaluation.sex === "Femenino") {
						if (this.evaluation.age >= 18 && this.evaluation.age <= 39) {
							if (this.evaluation.muscle < 24.3) {
								clasificacion = "Bajo";
							} else if (this.evaluation.muscle >= 24.3 && this.evaluation.muscle < 30.4) {
								clasificacion = "Normal";
							} else if (this.evaluation.muscle >= 30.4 && this.evaluation.muscle <= 35.3) {
								clasificacion = "Elevado";
							} else {
								clasificacion = "Muy elevado";
							}
						} else if (this.evaluation.age >= 40 && this.evaluation.age <= 59) {
							if (this.evaluation.muscle < 24.1) {
								clasificacion = "Bajo";
							} else if (this.evaluation.muscle >= 24.1 && this.evaluation.muscle < 30.2) {
								clasificacion = "Normal";
							} else if (this.evaluation.muscle >= 30.2 && this.evaluation.muscle <= 35.1) {
								clasificacion = "Elevado";
							} else {
								clasificacion = "Muy elevado";
							}
						} else if (this.evaluation.age >= 60 && this.evaluation.age <= 80) {
							if (this.evaluation.muscle < 23.9) {
								clasificacion = "Bajo";
							} else if (this.evaluation.muscle >= 23.9 && this.evaluation.muscle < 30) {
								clasificacion = "Normal";
							} else if (this.evaluation.muscle >= 30 && this.evaluation.muscle <= 34.9) {
								clasificacion = "Elevado";
							} else {
								clasificacion = "Muy elevado";
							}
						} else {
							clasificacion = "Edad fuera de rango";
						}
					} else if (this.evaluation.sex === "Masculino") {
						if (this.evaluation.age >= 18 && this.evaluation.age <= 39) {
							if (this.evaluation.muscle < 33.3) {
								clasificacion = "Bajo";
							} else if (this.evaluation.muscle >= 33.3 && this.evaluation.muscle < 39.4) {
								clasificacion = "Normal";
							} else if (this.evaluation.muscle >= 39.4 && this.evaluation.muscle < 44.1) {
								clasificacion = "Elevado";
							} else {
								clasificacion = "Muy elevado";
							}
						} else if (this.evaluation.age >= 40 && this.evaluation.age <= 59) {
							if (this.evaluation.muscle < 33.1) {
								clasificacion = "Bajo";
							} else if (this.evaluation.muscle >= 33.1 && this.evaluation.muscle < 39.2) {
								clasificacion = "Normal";
							} else if (this.evaluation.muscle >= 39.2 && this.evaluation.muscle < 43.9) {
								clasificacion = "Elevado";
							} else {
								clasificacion = "Muy elevado";
							}
						} else if (this.evaluation.age >= 60 && this.evaluation.age <= 80) {
							if (this.evaluation.muscle < 32.9) {
								clasificacion = "Bajo";
							} else if (this.evaluation.muscle >= 32.9 && this.evaluation.muscle < 39) {
								clasificacion = "Normal";
							} else if (this.evaluation.muscle >= 39 && this.evaluation.muscle < 43.7) {
								clasificacion = "Elevado";
							} else {
								clasificacion = "Muy elevado";
							}
						} else {
							clasificacion = "Edad fuera de rango";
						}
					}
					return clasificacion;
				},
				getMuscleReference() {
					let reference = "";
					if (this.evaluation.sex === "Femenino") {
						if (this.evaluation.age >= 18 && this.evaluation.age <= 39) {
							reference = ">=24.3 y <30.4";
						} else if (this.evaluation.age >= 40 && this.evaluation.age <= 59) {
							reference = ">=24.1 y <30.2";
						} else if (this.evaluation.age >= 60 && this.evaluation.age <= 79) {
							reference = ">=23.9 y <30";
						}
					} else {
						if (this.evaluation.age >= 18 && this.evaluation.age <= 39) {
							reference = ">=33.3 y <39.4";
						} else if (this.evaluation.age >= 40 && this.evaluation.age <= 59) {
							reference = ">=33.1 y <39.2";
						} else if (this.evaluation.age >= 60 && this.evaluation.age <= 79) {
							reference = ">=32.9 y <39";
						}
					}
					return reference;
				}
			},
		}).mount("#app")
	</script>
</body>
</html>